section {
  font-family: "Poppins", sans-serif;
}
.dashes {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.dashes:after,
.dashes::after {
  content: "----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
  display: inline-block;
  width: 100%;
  height: auto;
  z-index: -1;
  position: absolute;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* 1024px */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}