@media only screen and (width: 768px) {
    /* For tablets: */
    #blogbt1 {
      display: none !important;
    }
    #blogh1 {
      font-size: 0.85rem !important;
    }
    #blogbt2 {
      display: none !important;
    }
    #blogh2 {
      font-size: 0.85rem !important;
    }
    #blogbt3 {
      display: none !important;
    }
    #blogh3 {
      font-size: 0.85rem !important;
    }
  }